{% extends "index.html" %}
{% load static %}

{% block title %}{{ category_name }} Products{% endblock %}

{% block content %}
    <div class="row mt-5">
        {% if products.count > 0 %}
            <section class="container py-5">
                <h2 class="text-center mb-4">{{ category_name }} Products</h2>
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4 mb-4">
                            {% include "shop/includes/product_card.html" %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
   {% include "shop/includes/paginator.html" %}
{% endblock %}