{% extends "index.html" %}
{% load static %}

{% block title %}Comments{% endblock %}

{% block content %}
    <div class="row mt-5">
        {% if comments.count > 0 %}
            <section class="container py-5">
                <h2 class="text-center mb-4">All Comments</h2>
                <div class="row">
                    {% for comment in comments %}
                        <div class="col-md-4 mb-4">
                            {% include "shop/includes/comment_card.html" %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% else %}
            <h3>There are no comments yet!</h3>
        {% endif %}
    </div>
   {% include "shop/includes/paginator.html" %}
{% endblock %}